-e .
-e git://github.com/edx-solutions/xblock-mentoring.git#egg=xblock-mentoring
edx-i18n-tools==0.4.7
lazy==1.2
lxml==3.6.4
mako==1.0.7
parsel==1.2.0
transifex-client==0.13.4
-e git+https://github.com/edx/xblock-utils.git@a19221740ea7116bba681de3e8265f040560cd15#egg=xblock_utils
selenium==2.50.1
-e git://github.com/edx/xblock-sdk.git@c541e4fee8c90647b136f75b404e55c04c8b67f4#egg=xblock_sdk
django-pyfs==2.0
bok-choy==0.7.1
XBlock==1.2.9
mock==3.0.5
pytest==4.6.6
bok-choy==0.7.1
