.adventure .navigation-view {
    margin-top: 20px;
}

.adventure .navigation-view .navigation-next {
    text-align: center;
}

.adventure .step-view .step,
.adventure .step-view .step-child
{
    margin-top: 10px;
}
