.adventure .navigation-view {
    position: relative;
    margin-top: 20px;
}

.adventure .navigation-view .navigation-back-next-buttons {
    text-align: center;
}

.adventure .navigation-view .navigation-next {
    text-align: center;
}

.adventure .navigation-view .navigation-start-over {
    position: absolute;
    right: 0;
    bottom: 0;
}

.adventure .step-body {
    padding: 1em;
    border: 4px solid #eee;
}

.adventure .step-view {
    padding: 1em;
}

.adventure .step-child {
    margin-bottom: 1em;
}

.adventure .ooyala-child {
    padding: 1.5em 0;
    margin: 1.5em 0;
    border: 1px solid #ccc;
    border-width: 1px 0;
}

.adventure .ooyala-child .ooyala-player-xblock-wrapper .transcript-header, .ooyala-player-xblock-wrapper .transcript-content,
.adventure .ooyala-child .ooyala-player-xblock-wrapper .transcript-footer {
    border-bottom: none;
}

.adventure .question {
    margin-bottom: 1em;
    max-width: 100%;
}

.adventure .choice-label {
    margin-left: 1em;
    width: 90%; /* Fallback for browsers without calc() support */
    width: calc(100% - 3em);
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
}

.adventure .choice-selector {
    display: inline;
}

.adventure .choice-selector input[type="radio"] {
    margin-top: 0.5ex;
}

.adventure .choice {
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.show {
    display: block;
}
