.adventure button[disabled] {
    cursor: default;
    opacity: .7;
}

.adventure .navigation-view {
    padding: 0 15px;
}
.adventure {
    padding-bottom: 60px;
}
* {
    box-sizing: border-box;
}
.step-content .wrapper-video .xblock-light-child {
    max-width: 100%;
    background: none;
    padding: 0;
}
.adventure .navigation-view .navigation-back-next-buttons {
    margin: 0 auto;
    padding: 20px 25px 10px;
    max-width: 600px;
    background: #F2F2F2;
    border-radius: 0 0 4px 4px;
}

.adventure .navigation-view .navigation-next {
    text-align: center;
}
.adventure .navigation-view .over-btn {
    text-align: center;
    padding: 0 0 10px;
    position: absolute;
    bottom: -70px;
    right: 0;
}
.adventure .navigation-view .navigation-start-over {
    display: inline-block;
    border: 2px solid #DB232D;
    min-width: 120px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    color: #DB232D;
    border-radius: 5px;
}
.adventure .navigation-view .navigation-start-over:hover, .adventure .navigation-view .navigation-start-over:focus {
    color: white;
    background: #DB232D;
}

.navigation-next, .navigation-back {
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    color: black;
    box-shadow: none !important;
    background: #8BC5CB;
    outline: none !important;
    text-shadow: none;
    margin: 0 20px 10px 0;
    border: none !important;
    min-width: 80px;
    text-align: center;
    padding: 7px 18px;
}
.navigation-next:hover, .navigation-back:hover {
    background: #8BC5CB !important;
    color: black !important;
    opacity: .8;
}
.adventure .step-body {
    padding: 15px;
    position: relative;
    border: 4px solid #eee;
}

.adventure .step-view {
    padding: 0;
}

.adventure .step-child {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.adventure .ooyala-child {
    padding: 1.5em 0;
    margin: 1.5em 0;
    border: 1px solid #ccc;
    border-width: 1px 0;
}

.adventure .ooyala-child .ooyala-player-xblock-wrapper .transcript-header, 
.ooyala-player-xblock-wrapper .transcript-content,
.adventure .ooyala-child .ooyala-player-xblock-wrapper .transcript-footer {
    border-bottom: none;
}

.adventure .question {
    margin: 0 -15px;
    margin-bottom: 1em;
    max-width: 100%;
}
.choice .choice-result {
    display: none;
}
.adventure .choice-selector {
    display: inline;
}

.adventure .choice-selector input[type="radio"] {
    position: fixed;
    top: -9999px;
    left: -9999px;
}
.adventure .choice-selector {
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #C4C4C4;
    z-index: 1;
    pointer-events: none;
}
.adventure .choice-selector:after {
    position: absolute;
    left: 3px;
    top: 3px;
    bottom: 3px;
    right: 3px;
    content: "";
    background: #8BC5CB;
    display: none;
}
.adventure .choice {
    margin: 0 -15px 2px;
    position: relative;
}
.adventure .choice.checked .choice-selector:after {
    display: block;
}
.adventure .choice-label {
    display: block;
    padding: 18px 60px 18px;
    min-height: 70px;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid transparent;
    position: relative;
}
.adventure .choice-label:after {
    position: absolute;
    right: 15px;
    top: 50%;
    border-radius: 50%;
    background: #29CB97;
    width: 40px;
    height: 40px;
    content: "\f00c";
    font: 27px/40px FontAwesome;
    text-align: center;
    color: white;
    margin: -20px 0 0;
    display: none;
}
.adventure .choice-label:hover {
    background: #E2E2E2;
}
.adventure .choice.correct .choice-label {
    border-color: #29CB97;
}
.adventure .choice.correct .choice-label:after {
    display: block;
}
.adventure .choice.incorrect .choice-label {
    border-color: #FF7A00;
}
.adventure .choice.incorrect .choice-label:after {
    background: #FF7A00;
    content: "\f00d";
    display: block;
}
.hide {
    display: none;
}

.show {
    display: block;
}
.adventure-xblock-content {
    position: relative;
}
.mcq-block {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 20px 15px 0;
    margin: 0 !important;
}
.step-content .mcq-block .xblock-light-child {
    margin: 0 auto;
    max-width: 600px;
    background: #F2F2F2;
    border-radius: 4px 4px 0 0;
    max-height: 410px;
    padding: 40px 40px 0;
    overflow-y: auto;
}
.xblock-light-child .questionnaire h3 {
    display: none;
}
.xblock-light-child .questionnaire .question p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 10px !important;
}
.step-content .wrapper-video {
    position: relative;
}
.step-content .wrapper-video .videoWrapper {
    margin-top: 15px;
}
.step-content .xblock-light-child {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 40px;
    background: #F2F2F2;
    overflow: hidden;
}
.step-content .xblock-light-child .html_child {
    margin-top: 15px;
}
.step-content .xblock-light-child p {
    margin: 0;
}
.step-content .xblock-light-child .html_child.correct, 
.step-content .xblock-light-child .html_child.incorrect {
    margin: 15px -15px;
    padding: 20px 30px;
    background: #BFEFE0;
    border-radius: 4px;
    font-size: 18px;
    line-height: 24px;
    color: #2E2E2E;
}
.step-content .xblock-light-child .html_child.correct p, 
.step-content .xblock-light-child .html_child.incorrect p {
    margin: 0;
}
.step-content .xblock-light-child .html_child.incorrect {
    background: #FFD7B3;
}
.step-content .xblock-light-child .html_child.correct strong, 
.step-content .xblock-light-child .html_child.incorrect strong {
    display: block;
    margin: 0 0 15px;
    color: #2E2E2E;
    font-size: 24px;
    line-height: 30px;
    padding: 5px 0 5px 55px;
    position: relative;
}
.step-content .xblock-light-child .html_child.correct strong:after, 
.step-content .xblock-light-child .html_child.incorrect strong:after {
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    background: #29CB97;
    width: 40px;
    height: 40px;
    content: "\f00c";
    font: 27px/40px FontAwesome;
    text-align: center;
    color: white;
    margin: -20px 0 0;
}
.step-content .xblock-light-child .html_child.incorrect strong:after {
    background: #FF7A00;
    content: "\f00d";
}
.rtl-content .adventure .choice-selector {
    left: auto;
    right: 15px;
}
.rtl-content .adventure .choice-label:after {
    right: auto;
    left: 15px;
}
.rtl-content .navigation-next, .rtl-content .navigation-back {
    margin: 0 0 10px 20px;
}
.rtl-content .adventure .navigation-view .over-btn {
    right: auto;
    left: 0;
}
.rtl-content .step-content .xblock-light-child .html_child.correct strong, 
.rtl-content .step-content .xblock-light-child .html_child.incorrect strong {
    padding: 5px 55px 5px 0;
}
.rtl-content .step-content .xblock-light-child .html_child.correct strong:after, 
.rtl-content .step-content .xblock-light-child .html_child.incorrect strong:after {
    left: auto;
    right: 0;
}
@media screen and (max-width: 700px) {
    .adventure .step-body {
        padding: 10px 0;
    }
    .adventure .choice-selector {
        width: 25px;
        height: 25px;
        margin-top: -12px;
    }
    .adventure .choice-label {
        padding: 10px 50px 10px;
        min-height: 51px;
        font-size: 18px;
        line-height: 25px;
    }
    .adventure .choice-label:after {
        right: 10px;
        width: 30px;
        height: 30px;
        font: 18px/30px FontAwesome;
        margin: -15px 0 0;
    }
    .navigation-next, .navigation-back {
        height: 40px;
        font-size: 14px;
        line-height: 20px;
    }
    .step-content .xblock-light-child .html_child.correct, 
    .step-content .xblock-light-child .html_child.incorrect {
        padding: 15px;
    }
    .step-content .xblock-light-child .html_child.correct strong, 
    .step-content .xblock-light-child .html_child.incorrect strong {
        font-size: 19px;
        line-height: 30px;
        padding: 5px 0 5px 35px;
        margin: 0 0 5px;
    }
    .step-content .xblock-light-child .html_child.correct strong:after, 
    .step-content .xblock-light-child .html_child.incorrect strong:after {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        margin-top: -15px;
    }
    .rtl-content .step-content .xblock-light-child .html_child.correct strong, 
    .rtl-content .step-content .xblock-light-child .html_child.incorrect strong {
        padding: 5px 35px 5px 0;
    }
}
